---
import '../styles/global.css';
import Hero from '../components/Hero.astro';
import FeatureGrid from '../components/FeatureGrid.astro';
import Layout from '../layouts/Layout.astro';
import PlantDivider from '../components/PlantDivider.astro';
import DesignCard from '../components/DesignCard.astro';

import mposBanner from '../assets/banners/mpos.svg';
import txrhBanner from '../assets/banners/texas-roadhouse.svg';
import apprendoBanner from '../assets/banners/apprendo.svg';
import condexBanner from '../assets/banners/condex.svg';
---

<Layout>
	<main>
		<Hero />
		<FeatureGrid />

		<PlantDivider level={3} />

		<DesignCard
			title="mPos"
			imgAlign="right"
			imageSrc={mposBanner.src}
			imageAlt="mPos Design System"
			links={[
				{ href: 'https://nimble.li/o9yvxwn9', text: 'Figma File', target: '_blank', requiresPassword: true },
			]}
		>
			<p>Full-scale redesign that puts our restaurant servers (Roadies 🤠) at the center of the user experience. By improving navigation, accessibility, and creating gesture consistency, mPOS redesigned increases Roadies ordering speed, enhances usability, and allows the restaurant guests to be served more efficiently. </p>
		</DesignCard>

		<PlantDivider level={2} subtitle={false}>
		</PlantDivider>

		<DesignCard
			title="Texas Roadhouse"
			imgAlign="left"
			imageSrc={txrhBanner.src}
			imageAlt="mPos Design System"
			links={[
				{ href: 'https://nimble.li/k96yxqnd', text: 'Figma File', target: '_blank', requiresPassword: true },
			]}
		>
			<p>Building an ever-evolving set of reusable components and defining principles and guidelines for our in-house applications, giving designers and engineers a shared language for consistent, scalable product and web design across future apps.</p>
		</DesignCard>

		<PlantDivider level={1} />

		<DesignCard
			title="Apprendo"
			imgAlign="right"
			imageSrc={apprendoBanner.src}
			imageAlt="mPos Design System"
			links={[
				{ href: 'https://purrfect-top-743.notion.site/Apprendo-Case-Study-105ba894a1eb802d8f6de12bdad9e979', text: 'Case Study', target: '_blank' },
			]}
		>
			<p>Apprendo is a free learning app designed to support BRIDGEGOOD UX apprentices and empower creatives of color in the tech and design fields.</p>
			<p>Over 4 weeks, I completed this case study as part of Google’s Tech Equity Collective, using Google’s Design Sprint methodology to research, prototype, and validate solutions that address barriers faced by underrepresented creatives.</p>
			<p>Using tools such as Figma, Miro, Slack, Discord, and Google Workspace, I strengthened my skills in project leadership, collaboration, and end-to-end UX design while learning how to guide a team toward building impactful, equity-driven solutions.</p>
		</DesignCard>

		<PlantDivider level={0} />

		<DesignCard
			title="ConDex"
			imgAlign="left"
			imageSrc={condexBanner.src}
			imageAlt="mPos Design System"
			links={[
				{ href: 'https://www.figma.com/proto/yPKlmW1SMPQzRkL9NSR16f/Con-Dex-Hi-Fi-Prototype?node-id=2150-452&p=f&t=zthXFZfXUL2VPHyb-0&scaling=min-zoom&content-scaling=fixed&page-id=2150%3A432 ', text: 'Case Study', target: '_blank' },
			]}
		>
			<p>Con-Dex is a mobile app that helps convention vendors streamline operations by tracking applications, sales, inventory, and finances in one place.</p>
			<p>Over 10 weeks, I completed this case study as part of Google’s UX Design Certification, applying the design thinking process and conducting interviews with multiple vendors to shape the app.</p>
			<p>Using tools such as Figma, Miro, Lucidchart, and Google Docs, I strengthened my skills in user research, prototyping, and iteration while learning how to design solutions that directly address vendor needs.</p>
		</DesignCard>
	</main>
</Layout>

<style>
	main {
		max-width: var(--max-width);
		margin: 0 auto;
		padding: 2rem;
	}
</style>